body {
  font-family: Nunito Sans;
  font-size: 18px;
  background-color: white;
}

h1 {
  font-family: Nunito Sans;
}

#header-left{
  margin-top: 120px;
  color: maroon;
}

#header-right{
  margin-top: 60px;
  color: green;
}

#student-form-header{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

#employer-form-header{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

.textDragon { 
  font-family: Nunito Sans, sans-serif;
  position: fixed; 
  visibility: visible; 
  top: 55px;
  left: 10px;
  z-index: 200;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin: 0px 0px 0px 20px;
  padding: 5px;
  border: 10px solid #00008B;
  background-color:orange;
  color: black;
}

h3, h4 {
  margin-bottom: 0;
}

#navButtons {
  position: relative;
  top: 50px;
  z-index: 200;
  text-align: center;
  padding: 5px;
  position: fixed;
  width: 30%;
  margin-left: 34%;
}

#navButtons button {
  background-color: rgba(5,4,2,0.2);
  margin-right: 10px;
  margin-bottom: 5px;
  top: 0px;
  width: 200px;
  border: 1px solid black; 
  padding-right: 5px;
  padding-left: 5px;
}

#navButtons button:hover {
  background-color: black;
}

#navButtons a:hover {
  color: white;
}

nav {
  z-index: 200;
  position: fixed;
  top: 50px;
  width: 100%;
  background-color: #B0B0B0;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 5px 5px 5px;
  text-align: center;
  float: right;
  width: 25%;
}

nav button {
  background-color: orange;
  border: 5px solid #00008B;
  box-shadow: 5px 5px #00008B;
  border-radius: 5px;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  padding: 5px 5px 5px 5px;
  width: 120px;
  text-align: center;
  margin-left: 10px;
}

nav button:hover {
  border: 5px solid black;
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

nav button:target {
  box-shadow: 0 0 0;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  top: 0px;
  margin: 5px;
}

nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Arial';
}

nav a:hover {
  color: white;
}

.textBackground {
  background-color: rgba(5,4,2,0.3);
  height: 100%;
  width: 75%;
  margin-left:auto;
  padding: 15px;
}

a {
  color: black;
  text-decoration: none;
}

#info-left {
  display: inline-block;
  float: left;
  margin: 80px 0px 20px 120px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

#info-left p {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
}

#info-right {
  display: inline-block;
  float: right;
  margin: 80px 120px 10px 0;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

#info-right p {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
}

#info-left button {
  background-color: orange;
  border: 1px solid #00008B;
  border-radius: 5px;
  box-shadow: 5px 5px #00008B;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  margin-bottom: 100px;
  transition: all ease 0.3s;
}

#info-left img {position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  z-index: -1;
}

img {
  width: 100%;
}

#info-right button {
  background-color: orange;
  border: 1px solid #00008B;
  border-radius: 5px;
  box-shadow: 5px 5px #00008B;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  margin-bottom: 100px;
  transition: all ease 0.3s;
}

#info-left button:active {
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

#info-right button:active {
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

#info-left a:hover {
  color: white;
}

#info-right a:hover {
  color: white;
}

#status {
  text-align: center;
  position: fixed;
  font-size: 15px;
  top: 0px;
  width: 100%;
  background-color: #21ce99;
  overflow: hidden; 
  z-index: 200;
}

#status p {
  width: 100%;
}

#note {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  padding: 12px;
}

#student-form-side {
  padding-top: 60px;
}

#student-fields {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#student div {
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
}

#student {
  display: inline-block;
  float: left;
  margin: 50px 0px 20px 10px;
  padding-bottom: 10px;
  width: 60%;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

#student a {
  text-align: center;
}

#student p {
  padding: 10px 10px 0 10px;
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
  text-align: left;
}

#resources h1 {
  text-align: center;
  font-size: 40px;
}

#resources {
  display: inline-block;
  float: right;
  margin: 0px 50px 10px 60px;
  width: 30%;
  text-align: left;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
}

#resource-list {
  background-color:rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 10px;
  border: rgba(5,4,2,0.3);
  border-radius: 20px;
}

#resource-list p {
  display: inline-block;
  position: relative;
  text-align: "right";
  margin-left: 50px;
}

#resource-list button {
  padding: 20px;
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
  margin-bottom: 20px;
}

#employer div {
  border: rgba(5,4,2,0.3);
  border-radius: 10px;
}

#employer-fields {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#studentform-submit {
  background-color: orange;
  border: 1px solid #00008B;
  border-radius: 5px;
  box-shadow: 5px 5px #00008B;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  margin-bottom: 100px;
  transition: all ease 0.3s;
  width: 40%;
  margin-left: 30%;
} 

#employerform-submit {
  display: block;
  background-color: orange;
  border: 1px solid #00008B;
  border-radius: 5px;
  box-shadow: 5px 5px #00008B;
  top: 0px;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  transition: all ease 0.3s;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
} 

#notfound {
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
}

#phoneNumber {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 20px;
}