body {
  font-family: Merriweather,serif;
  font-size: 18px;
  background-color: white;
}

h1 {
  margin-top: 80px;
}

#header-left{
  color: maroon;
}

#header-right{
  color: green;
}

.textDragon { 
  font-family: fantasy;
  position: absolute; 
  visibility: visible; 
  top: 10px;
  left: 10px;
  z-index: 200;
  font-size: 50px;
  font-weight: bold;
  width: 20%;
  float: left;
  padding-left: 20px;
  border: 10px solid #00008B;
  background-color:orange;
  color: black;
}

h3, h4 {
  margin-bottom: 0;
}

nav {
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 30%;
  float: right;
}

nav button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  position: relative;
  top: 0px;
  margin-right: 15px;
  transition: all ease 0.3s;
}

nav button:hover {
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

nav button:target {
  box-shadow: 0 0 0;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  top: 0px;
  margin: 5px;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Arial';
}

nav a:hover {
  color: white;
}

.textBackground {
  background-color: rgba(5,4,2,0.3);
  height: 100%;
  width: 75%;
  margin-left:auto;
  padding: 15px;
}

a {
  color: black;
  text-decoration: none;
}

#info-left {
  display: inline-block;
  float: left;
  margin: 80px 0px 20px 120px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}

#info-left p {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#info-right {
  display: inline-block;
  float: right;
  margin: 80px 120px 10px 0;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}

#info-right p {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#info-left button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  transition: all ease 0.3s;
}

#info-left img {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  float: left;
  z-index: -1;
}

#info-right button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 30px;
  transition: all ease 0.3s;
}

#info-left button:active {
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

#info-right button:active {
  box-shadow: 0 3px 0 black;
  background-color: black;
  top: 3px;
}

#info-left a:hover {
  color: white;
}

#info-right a:hover {
  color: white;
}

#status {
  text-align: center;
  position: fixed;
  font-size: 18px;
  top: 46px;
  width: 100%;
  background-color: green;
  overflow: hidden; 
}

#note {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  padding: 13px;
}